body {
    margin: 0px;
    color: white;
    flex-wrap: nowrap;
}
nav li {
    position: sticky;
    gap: 0px;
    flex-direction: column;
    top: 0px;
    -ms-flex-align: end;
    background-color: green;
    color: white;
    display: inline;
    flex-wrap: wrap;
    padding: 20px 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
nav {
    background-color: green;
    display: flex;
    gap: 0rem;
    padding-top: 1px;
    padding-bottom: 2px;
    flex-direction: column;
    position: sticky;
    top: 0%;
    justify-content: space-between;
}
li {
    gap: 0px;
}
.nvmn {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 10px;
}