* {
    margin: 0px;
    padding: 0;
    text-decoration: none;
    border-style: none;
    list-style-type: none;
}

:root {
    --text-heading-1: 36px;
    --text-body-m: 16px;
    --color-primary: #FF0000;
}
body {
    font-size: var(--text-body-m);
}

.btn {
    
}