* {
  font-family: "Segoe UI";
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #70b2b2;
  font-weight: 400;
  font-style: normal;
}
nav {
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  gap: 0rem;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
  padding: 1rem 2rem;
  background-color: #016b61;
}
nav .title a {
  text-decoration: none;
  color: white;
}
nav .item a {
  flex-wrap: wrap;
  text-decoration: none;
  justify-content: center;
  color: white;
  padding: 35px;
  padding-top: 26px;
  padding-bottom: 15.6px;
  margin-left: 0px;
  margin-right: 0px;
}
nav .item a:hover {
  background-color: #70b2b2;
  transition-duration: 0.3s;
}
nav .item {
  flex-wrap: wrap;
  -ms-flex-align: start;
  list-style-type: none;
  position: sticky;
}
/* Uji Coba */
/* nav .logo a {
  color: white;
  padding-left: 26px;
  align-items: center;
  justify-items: center;
  padding-right: 26px;
  padding-top: 26px;
  padding-bottom: 15.5px;
} */
/* nav .logo a:hover {
  background-color: #70b2b2;
  transition-duration: 0.3s;
} */
main .hero {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 200px;
}
main .hero h1 {
  text-align: center;
  font-size: 47px;
  color: #016b61;
  border-bottom: 4px solid #016b61;
  padding-left: 70px;
  padding-right: 70px;
}
main .hero a {
  text-decoration: none;
  border: solid #016b61;
  color: #016b61;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 15px;
  transform: scale(1.3);
}
main .hero a:hover {
  transform: scale(1.5);
  transition-duration: 0.3s;
}
.aboutme {
  display: flex;
  gap: 0px;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 300px;
  background-color: #016b61;
  padding: 30px;
  border-radius: 20px;
  box-shadow: black ;
}
.aboutme img {
  width: 400px;
  height: auto;
}
.aboutme a {
  text-decoration: none;
  color: white;
}

.aboutme p {
  color: white;
  margin-top: 5rem;
}
.aboutme .desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutme .dcv a {
  border: 3px solid #70b2b2;
  padding: 7px 25px;
  border-radius: 20px;
  display: grid;
  margin-top: 4rem;
}
.myskill {
  margin-top: 210px;
  background-color: #016b61;
  color: white;
}
